/* BUTTONS ------------------------------------ */
button {
  display: inline-block;
  flex-grow: 1;
  @include spacy;
  background-color: $color-highlight;
  color: black;
  border: none;
  @include rounded;
}
