// MIXINS ------------------------------------ /
@mixin spacy {
  margin: $gutter;
  padding: $padding;
}

@mixin text-block {
  display: block;
  width: 100%;
  padding-top: 35px;
  margin: 0;
}

@mixin rounded {
  border: 1px solid $white;
  border-radius: 10px;
}

@mixin background-trans {
  transition: background-color 0.5s;
  &:hover,
  &:focus {
    background-color: $color-highlight;
  }
  @content;
}
