// VARIABLES ------------------------------------ /
// Spacing ------------------------------------ /
$gutter: 15px;
$padding: 10px;

// Colors ------------------------------------ /
$color-background: #000;
$color-background-secondary: #2e202c;
$color-primary: #5c5566;
$color-secondary: #80a1a3;
$color-highlight: #8ad1a9;
$white: #eee;

// Font Stacks ------------------------------------ /
$font-heading-stack: "Major Mono Display", sans-serif;
$font-body-stack: "Source Sans Pro", sans-serif;
